In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
path = r'C:\Users\gagan\Desktop\Mission Robosoft\Datasets\Analysis_March_2025\GS_Analysis.csv'
df = pd.read_csv(path)

In [ ]:
df.iloc[:, :5].head(5)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class

In [7]:
df.iloc[:, 5:10].head(5)

  Customer ID    Customer Name    Segment        Country             City
0    CG-12520      Claire Gute   Consumer  United States        Henderson
1    CG-12520      Claire Gute   Consumer  United States        Henderson
2    DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles
3    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
4    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale

In [8]:
df.iloc[:, 10:15].head(5)

        State  Postal Code Region       Product ID         Category
0    Kentucky      42420.0  South  FUR-BO-10001798        Furniture
1    Kentucky      42420.0  South  FUR-CH-10000454        Furniture
2  California      90036.0   West  OFF-LA-10000240  Office Supplies
3     Florida      33311.0  South  FUR-TA-10000577        Furniture
4     Florida      33311.0  South  OFF-ST-10000760  Office Supplies

In [9]:
df.iloc[:, 15:20].head(5)

  Sub-Category                                       Product Name     Sales
0    Bookcases                  Bush Somerset Collection Bookcase  261.9600
1       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200
3       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775
4      Storage                     Eldon Fold 'N Roll Cart System   22.3680

In [10]:
df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [11]:
df.describe(include = 'object')

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800,9800
unique,4922,1230,1326,4,793,793,3,1,529,49,4,1861,3,17,1849
top,CA-2018-100111,05/09/2017,26/09/2018,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,34,5859,35,35,5101,9800,891,1946,3140,19,5909,1492,47

In [16]:
columns = list(df.columns)
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [20]:
df.duplicated().sum()

0

In [21]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [23]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "mean", missing_values = np.nan)
df[['Postal Code']] = imputer.fit_transform(df[['Postal Code']])

In [24]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [25]:
df.iloc[:, :5].head(5)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class

In [26]:
df.iloc[:, 5:10].head(5)

  Customer ID    Customer Name    Segment        Country             City
0    CG-12520      Claire Gute   Consumer  United States        Henderson
1    CG-12520      Claire Gute   Consumer  United States        Henderson
2    DV-13045  Darrin Van Huff  Corporate  United States      Los Angeles
3    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale
4    SO-20335   Sean O'Donnell   Consumer  United States  Fort Lauderdale

In [27]:
df.iloc[:, 10:15].head(5)

        State  Postal Code Region       Product ID         Category
0    Kentucky      42420.0  South  FUR-BO-10001798        Furniture
1    Kentucky      42420.0  South  FUR-CH-10000454        Furniture
2  California      90036.0   West  OFF-LA-10000240  Office Supplies
3     Florida      33311.0  South  FUR-TA-10000577        Furniture
4     Florida      33311.0  South  OFF-ST-10000760  Office Supplies

In [28]:
df.nunique()

Row ID           9800
Order ID         4922
Order Date       1230
Ship Date        1326
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              529
State              49
Postal Code       627
Region              4
Product ID       1861
Category            3
Sub-Category       17
Product Name     1849
Sales            5757
dtype: int64