In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = r"C:\Users\gagan\Desktop\Mission Robosoft\Datasets\crop_yield.csv"
df = pd.read_csv(path)

In [ ]:
df.iloc[:, :4].head(5)

           Crop  Crop_Year       Season  State
0      Arecanut       1997  Whole Year   Assam
1     Arhar/Tur       1997  Kharif       Assam
2   Castor seed       1997  Kharif       Assam
3      Coconut        1997  Whole Year   Assam
4  Cotton(lint)       1997  Kharif       Assam

In [ ]:
df.iloc[:, 4:8].head(5)

      Area  Production  Annual_Rainfall  Fertilizer
0  73814.0       56708           2051.4  7024878.38
1   6637.0        4685           2051.4   631643.29
2    796.0          22           2051.4    75755.32
3  19656.0   126905000           2051.4  1870661.52
4   1739.0         794           2051.4   165500.63

In [8]:
df.iloc[:, 8:].head(5)

   Pesticide        Yield
0   22882.34     0.796087
1    2057.47     0.710435
2     246.76     0.238333
3    6093.36  5238.051739
4     539.09     0.420909

In [9]:
df.nunique()

Crop                  55
Crop_Year             24
Season                 6
State                 30
Area               13644
Production         14016
Annual_Rainfall      634
Fertilizer         18598
Pesticide          17405
Yield              13551
dtype: int64

In [11]:
df.duplicated().sum()

0

In [12]:
df.isnull().sum()

Crop               0
Crop_Year          0
Season             0
State              0
Area               0
Production         0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

In [13]:
df.describe()

,Crop_Year,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
count,19689.000000,1.968900e+04,1.968900e+04,19689.000000,1.968900e+04,1.968900e+04,19689.000000
mean,2009.127584,1.799266e+05,1.643594e+07,1437.755177,2.410331e+07,4.884835e+04,79.954009
std,6.498099,7.328287e+05,2.630568e+08,816.909589,9.494600e+07,2.132874e+05,878.306193
min,1997.000000,5.000000e-01,0.000000e+00,301.300000,5.417000e+01,9.000000e-02,0.000000
25%,2004.000000,1.390000e+03,1.393000e+03,940.700000,1.880146e+05,3.567000e+02,0.600000
50%,2010.000000,9.317000e+03,1.380400e+04,1247.600000,1.234957e+06,2.421900e+03,1.030000
75%,2015.000000,7.511200e+04,1.227180e+05,1643.700000,1.000385e+07,2.004170e+04,2.388889
max,2020.000000,5.080810e+07,6.326000e+09,6552.700000,4.835407e+09,1.575051e+07,21105.000000

In [14]:
df.describe(include = 'object')

         Crop       Season      State
count   19689        19689      19689
unique     55            6         30
top      Rice  Kharif       Karnataka
freq     1197         8232       1432